@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

html {
    margin: 0;
}
img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */



$tablet: "screen and (min-width: 640px)";
$primary-color: #bdf4ed;
$primary-color-dark: rgb(167,238,229); 
$primary-font-color: #2574A9;
$secondary-color: #bbc5f6;
$tertiary-color: #f9bf8c;

.container{
    background-color: $primary-color;
    background-image: url('./images/pizzazz.png');
    background-repeat: repeat;
    min-height: 100vh;
}

$padding-lg: 40px;
$padding-sm: 20px;


@mixin checkboxtoggler(){
    input[type='checkbox']{
        position: absolute;
        width: 100%; height: 100%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    span.indicator{
        position: absolute;
        width: 100%; height: 100%;
        z-index: 2;
        cursor: pointer;
    }
}

@mixin okpadding(){
    padding: 10px $padding-sm;
    @media #{$tablet} { padding: 20px $padding-lg;}
}

nav {
    text-align: center;
    > * {
        display: inline-block;
        border: 0;
        margin: 5px;
        background: $secondary-color;
        color: #333;
        padding: 10px;

        &:focus{
            outline: 0px solid #fff; border: none; outline-color: none;
        }

        &.selected{

            background: $primary-font-color;
            color: #fff;

        }
    }


}

main {

    background: rgba(255,255,255,.5);
    padding-bottom: 10px;
    @media #{$tablet} {
        max-width: 820px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    header{
        background: $tertiary-color;
        position: relative;
        transform: skewY(5deg) translateY(-40px);
        color: $primary-font-color;
        h1{position: relative; transform: skewY(-5deg); font-size: 10vh; color: $primary-font-color; padding-top: 70px;} 
        p {color: $primary-font-color; text-align: right; opacity: .7}
        @include okpadding();

    }

    section{
        @include okpadding();

    }

    ul {
        list-style: none;
        li {
            $el_height: 40px;
            $ops_width: 90px;
            padding-right: $ops_width;
            position: relative;

            > * {
                display: inline-block;
                vertical-align: top;
                margin-bottom: 15px;
            }

            span.avoided-checkbox{
                width: $el_height;
                height: $el_height;
                position: relative;
                background: $tertiary-color;
                
                &.is-pending{
                    background: $secondary-color;
                }

                @include checkboxtoggler();
                .indicator{
                    text-align: center;
                    line-height: $el_height;
                }

                .x-mark{
                    position: relative;
                    left: -5px; top: -5px;
                }

            }
            
            span.avoided-item{
                line-height:  $el_height;
                height:  $el_height;
                padding-left: 5px;
            }

            span.item-ops{
                position: absolute;
                top: 0; right: 0;
                line-height: $el_height;
                height:  $el_height;
                > * { 
                    margin-left: 22px; 
                    text-align: justify; 
                    cursor: pointer;
                }
            }
        }
    }

    form {
        $el_height: 35px;

        min-width: 300px;
        max-width: 440px;
        margin: 0 auto;
        text-align: center;

        >*{
            outline: 0; border: 0;
        }

        input[type="text"]{
            height: $el-height;
            line-height: $el_height;
            font-size: 21px;
            background: rgba(255,255,255,0);
            position: relative;
            top: -2px;

            &:focus{
                outline: 0; border: 0;
                border-bottom: 2px solid $primary-color-dark;
            }
        }
        input[type="submit"]{
            height: $el-height;
            line-height: 30px;
            font-size: 30px;
            background: $primary-color-dark;
            width: 35px;
            text-align: center;
        }

    }
}


